html, body {
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: white;
}

.navbar {
	font-size: 18px;
	background-color: #39F;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

#slide1 {
    background-image: url('../img/background1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
	padding-top: 110px;
	padding-bottom: 30px;
}

#news_anchor {
    display: block; 
    position: relative;
    top: -46px; 
    visibility: hidden;
}

#news {
	background-color: orange;
 	color: black;
    padding-top: 30px;
	padding-bottom: 30px; 
}

#slide2 {
    padding-top: 30px;
	padding-bottom: 30px; 
}

#slide3 {
    background-image: url('../img/background3.jpg');
/*
    background-attachment: fixed;
*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
	padding-bottom: 20px;
 }
 
#slide4 {
    padding-top: 30px;
	padding-bottom: 30px;
}

#slide5 {
    background-image: url('../img/background5.jpg');
/*
    background-attachment: fixed;
*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.iframe_outer {
	position: relative;
	width: 100%; 
	height: 0px; 
	padding-bottom: 56.25%;
}

.iframe_inner {
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%;
}

#footer {
	padding-top: 560px;
	text-align: center;
}
