html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: auto!important;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    font-family: sans-serif;
    font-size: 100%;
    font-size: 18px;
    color: white;
}
@media all and ((max-width: 600px) or (orientation: portrait)) {
    html, body {
    font-size: 32px;
}
}
 h1 {
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: darkred;
}
 h2 {
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: darkred;
}
 h3 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}
h4 {
    color: darkred;
    font-size: 32px;
    margin: 0;
    padding: 0;
}
 .center {
    margin: 0 auto;
}
 .content {
    margin: 0 auto;
    width: 960px;
}
 .clear {
    clear: both;
}
.flex {
    display: flex;
}
.flexwrap {
    display: flex;
    flex-wrap: wrap;
}
.subflex {
    min-width: 320px;
    max-width: 640px;
}
 #header {
    width: 100%;
    background: url('../img/header-bg.png');
    height: 80px;
    position: fixed;
    margin-top: 30px;
}
 #logo a {
    color: orange;
    text-decoration: none;
    float: left;
    font-size: 40px;
    margin: 16px 0 0 40px;
    font-weight: bold;
    font-family: Times;
}
 #nav {
    float: right;
    margin: 28px 40px 0 0;
    font-size: 26px;
}
 #nav ul {
    list-style: none;
    display: block;
    margin: 0;
    /* margin: 0 auto;
    */
}
 #nav li {
    float: left;
    padding-left: 21px;
}
 #nav li a {
    color: inherit;
    /* opacity: 0.6;
    */
 text-decoration: none;
}
 #nav li a.active {
    /* opacity: 1;
    */
 border-bottom: 2px solid #fff;
}
 #nav li a:hover {
    color: greenyellow;
    /* opacity: 1;
    */
/* padding: 20px;
    */
/* border-bottom: 2px solid white;
    */
}
 .quotes {
    font-size: 30px;
    text-align: left;
    margin: 50px auto;
}
 #divider {
    background: url('../img/divider.png') no-repeat;
    width: 300px;
    height: 35px;
    margin: 0px auto 27px auto;
}
 #slide1 {
    background: url('../img/bg1.jpg') 100% 0 no-repeat fixed;
    /* height: 600px;
    */
 margin: 0 auto;
    padding: 180px 0 20px 0;
}
 #slide2 {
    /* height: 600px;
    */
 margin: 0 auto;
    padding: 36px 20px 60px 20px;
}
 #slide3 {
    background: url(../img/bg3.jpg) 100% 0 no-repeat fixed;
    /* height: 600px;
    */
 margin: 0 auto;
    padding: 60px 0 60px 0;
    /* background-size: cover;
    */
}
 #slide4 {
    /* height: 600px;
    */
 padding: 30px 20px 30px 20px;
    /* overflow: hidden;
    */
}
/* #slide5 {
    background: url(../img/bg5.jpg) 100% 0 no-repeat fixed;
    height: 600px;
    margin: 0 auto;
    padding: 50px 0 250px 0;
}
*/
#slide1 #news {
    width: 320px;
    min-width: 320px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 180, 30, 0.6);
    color: black;
    /* flex: 1;
    */
}
#slide1 span {
    font-weight: bold;
}
#slide1 img {
    margin: 20px;
    overflow-x: hidden;
}
/* #copyright {
    color: #fff;
    font-family: "Palatino";
    font-size: 14px;
    margin-top: 100px;
    text-align: center;
}
 #copyright a {
    text-decoration: none;
    color: #fff;
}
*/
